.App {
    text-align: center;
    padding: 50px;
    background-color: #46230b;
  }

  .container {
    display: grid ;
    grid-template-columns: repeat(8, 1fr);
  }

  .header {
    color:rgb(39, 192, 172);
    background-color: rgba(0, 0, 0, 0.459);
    border-radius: 4px;
    text-decoration: none;
    font-size: 18px;
    justify-content: center;
    align-items: center;
  }